# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Sensitive Information
local-runner/__pycache__/
local-runner/temp_audio/
local-runner/backup-main.py
local-runner/Dockerfile
local-runner/endpoints.env
local-runner/processing_request.json
local-runner/processor.log

# Unimportant Things
Test2.m4a
template.yaml
lambda_function.py
requirements.txt
karaoke-recommender/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
